body {
    background-color: #333;
    color: #fff;
}

.block {
    background-color: purple;
    width: 200px;
    height: 200px;
    /* margin: 25px 25px 10px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border:  5px solid red;
}

.inline {
    background-color: lightcoral;
    color: inherit;

    /* Los elementos inline no tienen medida. El tamaño lo determina su contenido. No se les aplica margin ni arriba ni abajo. Sólo tienen margenes horizontales */

    margin-left: 25px;
}

.title {
    background-color: blue;
    text-align: center;

}

.header {
    background-color: red;
    color: yellow;
    height: 50px;
}